/.idea
/build
/dist
/_backup
/Photo*
/upx
/venv_py39
*.jpg
*.7z
*.exe
Fail.txt
haarcascade_eye.xml
haarcascade_frontalface_alt2.xml
haarcascade_frontalface_alt_tree.xml
haarcascade_frontalface_default.xml
