/venv311/
/_l/
/_/
/.idea/
/build/
/dist/
/Photo*/
/upx/
*.jpg
*.7z
*.exe
Fail.txt
haarcascade_eye.xml
haarcascade_frontalface_alt2.xml
haarcascade_frontalface_alt_tree.xml
haarcascade_frontalface_default.xml
/_backup/
/CropPhoto.iml
